.section__title {
    text-align: center;
}

.section__title::after {
    content: '';
    background-color: rgb(243, 129, 129);
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.section__title-name {
    font-family: $second-font;
    font-size: 30px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    font-weight: bold;
}

.section__title-name_br {
    display: block;
    font-family: $last-font;
    font-size: 24px;
    color: rgb(51, 51, 51);
    text-transform: none;
    font-weight: normal;
    margin-bottom: 10px;
}

.section_indent-title {
    padding-top: 48px;
    margin-bottom: 65px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__list-item {
    width: 380px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

.services__list-item_icon-clock,
.services__list-item_icon-graphics,
.services__list-item_icon-coputer,
.services__list-item_icon-book,
.services__list-item_icon-home,
.services__list-item_icon-image {
    background-repeat: no-repeat;
    background-position: 20px 0;
}

.services__list-item_icon-clock {
    background-image: url(../images/servise_bg/bg_clock.png);
}

.services__list-item_icon-graphics {
    background-image: url(../images/servise_bg/bg_line_graph.png);
}

.services__list-item_icon-coputer {
    background-image: url(../images/servise_bg/bg_computer.png);
}

.services__list-item_icon-book {
    background-image: url(../images/servise_bg/bg_book.png);
}

.services__list-item_icon-home {
    background-image: url(../images/servise_bg/bg_home.png);
}

.services__list-item_icon-image {
    background-image: url(../images/servise_bg/bg_image.png);
}

.services__list-title {
    font-family: $second-font;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-bottom: 15px;
}

.services__list-description {
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 24px;
}