.section-description {
    text-align: center;
    margin-top: 45px;
    font-size: 15px;
    color: rgb(153, 153, 153);
    
    &_br {
    display: block;
    }
    
    &_indent {
    margin-bottom: 50px;
    }
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__item {
  
  &-img {
    position: relative;
    transition: transform 200ms linear, box-shadow 200ms linear;
  }
  
  &-name {
    font-family: $second-font;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(51, 51, 51);
  }
  
  &-profession {
    margin-top: 11px;
    font-size: 15px;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 24px;

  }
}

.team__img {
    position: relative;
    
    &:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px rgb(149, 225, 211);
    }
    
    &:hover .overlay {
    opacity: 1;
    visibility: visible;
    }
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms linear, visibility 200ms linear;
    
    &-list {
    display: flex;
    flex-direction: row;
    }
    
    &-icon {
    display: block;
    background-color: rgb(252, 227, 138);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1px;
    transition: background-color 200ms linear;
    
      &:hover {
      background-color: rgb(243, 129, 129);
      }
      
      &:hover .overlay-link {
      fill: rgb(255, 255, 255);
      }
    }
    
    &-wrapper:not(:last-child) {
    margin-right: 1px;
    }
    
    &-link {
    fill: rgb(243, 129, 129);
    
      &_facebook {
      width: 13px;
      height: 26px;
      }
      
      &_twitter {
      width: 26px;
      height: 22px;
      }
      
      &_pinterest {
      width: 21px;
      height: 26px;
      }
      
      &_instagram {
      width: 26px;
      height: 26px;
      }
    }
}

.container-team_indent-team-list {
  padding-bottom: 75px;
}